<a href="https://colab.research.google.com/github/Tousyf/DemoJUnit/blob/master/2nd_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Numeric DataType**

In [ ]:
Num=3
print(type(Num))

<class 'int'>

In [ ]:
Num=3.14
print(type(Num))

<class 'float'>

**Print Function**

In [ ]:
print("Hello world \n Hello World \n  Hello World")

Hello world
 Hello World
  Hello World

**String Concatenation**

In [ ]:
print("Hello" + "World")

HelloWorld

In [ ]:
#if we want to add some space. There are three ways

In [ ]:
#1
print("Hello " + "World")

Hello World

In [ ]:
#2
print("Hello" + " World")

Hello World

In [ ]:
#3
print("Hello" +" "+ "World")

Hello World

**bold text**

In [ ]:
#print("string manupulation exercise \n string concatenation is done with '+' sign\n for example print('hello + Touseef')\n new lines can be created with a backslash and" )

string manupulation exercise
 string concatenation is done with '+' sign
 for example print('hello + Touseef')
 new lines can be created with a backslash and

**Input Function in Python**

In [ ]:
#Input function is used to take input function from user
input("what is your name")

what is your nameUPES

'UPES'

In [ ]:
#if you want to use both print and input function
print("Hello"+" "+ input("what is your name"))

what is your nameUPES
Hello UPES

In [ ]:
#exercise no.2 print Hey Touseef, How are you?
#print("Hey" + " " + input("what is your name") + ", "+ "How are you?")

In [ ]:
#Swapping of two numbers
a=input("enter the value of a=")
b=input("enter the value of b=")
temp=a
a=b
b=temp
print("a=" + a)
print("b=" + b)

enter the value of a=4
enter the value of b=5
a=5
b=4

In [ ]:
#print("a=" , a)
#print("b=" , b)

**Type_Casting and Type_Conversion**

In [ ]:
#changing one dataType into another
print(len("Hello Touseef")) #len function is used to calculate the length of string
#print(len(12345))

13

In [ ]:
# how to print the like "your name is of ----- characters"
#length=len("Touseef Iqbal")
#print("Your name is of " +str(length)+ " Characters")
#print("Your name is of " +length+ " Characters")

In [ ]:
#length =type(length)
print(type(length))
#new_length = str(length)
#print(type(new_length))

<class 'int'>
<class 'str'>

In [ ]:
print(10+10)

20

In [ ]:
print("10"+"10")

1010

In [ ]:
print(int("10")+int("10"))

20

In [ ]:
name="Touseef"
#name="12"
print(str(10) + name)
#print(10 + name)

10Touseef

**Exercisse Sum of two Numbers**

In [ ]:
num_1=input("enetr number_1=")
num_2=input("enetr number_2=")
sum = int(num_1)+int(num_2)
#sum = int(num_1)+int(num_2)
print(sum)

enetr number_1=34
enetr number_2=54
88

**Add two Digit Number **

In [ ]:
#Numbr=input("enter two digit number")
#a=Numbr[0]
#b=Numbr[1]
#sum=int(a)+int(b)
#print(sum)

**Operators in Python**

There are different types of operators
1. Arithmetic Operator
2. Relational Operator
3. Logical Operator
4. Bitwise Operator
5. Identity operator
6. membership operator
7. Assignment Operators

**Arithmetic Operator**

In [ ]:
#+ , - , * , / , % , \\ , **.
#modulus gives remainder
#In Python 3, Division will always give you an floating number
print(5/2)

2.5

In [ ]:
print(4/2)

2.0

In [ ]:
print(4//2) #floor division

2

In [ ]:
print(2**3)

8

**Operator Precedence**

In [ ]:
print(2+3*5-3/3)

16.0

Operator Precence goes like

braces()

power **
,,  * , / , // , %
,,  + , _

In [ ]:
print(5+2*3-1+10/5)

12.0

**Associativity in operators**

In [ ]:
#two operators of same precedence will be solved with associativity

In [ ]:
"""
**             right to left
* / // %       Left to Right
+ -            Right to Left


5+2*3-1+10/5........Answer Should be 11



"""

**Calculate BMI**

In [ ]:
x=int(input("enter your weight in Kgs="))
y=float(input("enter your Height in metres="))
BMI= x/(y*y)
#BMI = int(x)//int((y)* int(y))
print(BMI)

enter your weight in Kgs=96
enter your Height in metres=1.5
42.666666666666664

**Assignment Operators**

In [ ]:
"""
=
+=
-+
/=
//=
5=


"""

a=5
#a=a+3
a+=3
a

8

In [ ]:
a,b,c=4,5,6
print(a,b,c)

4 5 6

In [ ]:
#ab,bc=4,3
#ca=ab+bc
#ab+=2
#ca//=ab
#print(ca)

**Comparision Operator**

In [ ]:
"""
>
<
>=
<=
==
!=

These operators are used to check conditions



"""

In [ ]:
a=5
print(a<5)
print(a>5)
print(a==5)

False
False
True