<a href="https://colab.research.google.com/github/Tousyf/DemoJUnit/blob/master/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops in Python**
If want to repeat the functionn again and again, we use loops

In [ ]:
"""
for loop is and iterator
syntax

for var_name in sequence:
  statement1
  statement2


  FlowChart

  for each item in sequence
           |
           |
 | last item is reached...........True...exit
 |         |
 |         |
--- -----False (Statements)



         """

SyntaxError: incomplete input (<ipython-input-3-13014acae260>, line 1)

In [ ]:
name = "Upes"
for x in name:
  print(x)

U
p
e
s

In [ ]:
name = "UpesU"
for x in name:
  print(x)
  if x == "U":
    print("Hey its me")

U
Hey its me
p
e
s
U
Hey its me

In [ ]:
s = {1,2,3,4,5}
v = {6,7,8,3}
v.symmetric_difference(s)

{1, 2, 4, 5, 6, 7, 8}

In [ ]:
List = ["Python", "Upes", "Socs"]
for x in List:
  if x == "Upes":
    break

  print(x)

Python

In [ ]:
#square of each item in list

List1= [1,2,4,5,-5]
for x in List1:
  square = x * x
  print(square)
  #print(x*x)

1
4
16
25
25

In [ ]:
# Now if we want to print the result as a list

In [ ]:
List2= [1,2,4,5,-5]
List3= []
for x in List2:
  square = x * x
  List3.append(square)
  print(List3)
  #print(x*x)

[1]
[1, 4]
[1, 4, 16]
[1, 4, 16, 25]
[1, 4, 16, 25, 25]

**For Else in python**

In [ ]:
a=3
b=2
if a == b:
  print("a and b are same")
else:
  print("they are Different")

they are Different

In [ ]:
"""
for var_name in sequence:
  print("I am getting executed")
else:
  print("I got executed after for loop")

  """

  # Else block will get executed when for loop has been executed successfully

In [ ]:
Numbers = [ 12, 23, 32, 43, 21, 11]
for i in Numbers:
  print(i)
else:
  print("for loop has been executed succesfully")

12
23
32
43
21
11
for loop has been executed succesfully

In [ ]:
Numbers = [ 12, 23, 32, 43, 21, 11]
for i in Numbers:
  print(i)
  if i==43:
    break
else:
  print("for loop has been executed succesfully")

  #we can else is the symbol of fully execution of for loop

12
23
32
43

In [ ]:
#WAP to calculate average height from a list of heights
#do not use sum or len function
#take input from the user
height = input("Enter the height seperated by comma")
height_list = height.split(",")
count = 0
for x in height_list:
  count = count + 1
print(count)
for i in range(count):
  height_list[i] = int(height_list[i])
print(height_list)
total = 0
for i in height_list:
  total = total + i
print(total)
avg = total/count
print(round(avg))

Enter the height seperated by comma123,345,567,789
4
[123, 345, 567, 789]
1824
456

In [ ]:
#WAP to find the maximum number in the lsit of numbers
#use split and range

In [ ]:
numbers = input("Enter the numbers seperated by space")
list1 = numbers.split(" ")
print(list1)
#for x in list1:
count = 0
for i in list1:
  count +=1
print(count)
for i in range( count):
  list1[i] = int(list1[i])
print(list1)
maximum = list1[0]
for i in list1:
  if i > maximum:
    maximum = i

print(f"the maximum number is {maximum}")

Enter the numbers seperated by space123 345 567 890
['123', '345', '567', '890']
4
[123, 345, 567, 890]
the maximum number is 890

**Range Function**

In [ ]:
#range (start, stop, stepsize)...stop is optional...by default it will start from zero,, stop is compulsory,,, stepsize is optional, by default it is 1

In [ ]:
a = range (2,5)
print(a[2])

4

In [ ]:
b = range (2,15, 2)
for i in b:
  print(i)
#print(b)

2
4
6
8
10
12
14

In [ ]:
c = range (2,15, -3)
for i in c:
  print(i)
#print(b)

In [ ]:
#for i in range(i,j,k):
 # i,i+k,  i+2k, i+3k,

In [ ]:
#for i in range (2,16,0):
 # print(i)

In [ ]:
#all three arguments must be ab integer

In [ ]:
for i in range(2, 5):
  print(i)

2
3
4

In [ ]:
for i in range(2, 5, 2):
  print(i)

2
4

In [ ]:
#printing numbers for 10 to 0
for i in range(10, -1, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
for i in range(0, 11, 1 ):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(-1, -11, -1):
  print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [ ]:
sum = 0
for i in range(0, 101, 1):
  sum = sum +i
print(sum)

5050

In [ ]:
#Calculating sum of even numbers in python

In [ ]:
sum = 0
for i in range (0, 101, 2):
  sum = sum+i
print(sum)

2550

In [ ]:
#Fizz buzz job program
"""
Number divisible by 3...it should print fizz
number divisible by 5 ,,,should print buzz
number divisible by both .....FizzBuzz
other than that ,,,,,it should print that number







""""""

In [ ]:
for i in range(1, 101):
  if i%3 ==0 and i%5 ==0:
    print("FizzBuzz")
  elif i%3==0:
    print("Fizz")
  elif i%5 ==0:
    print("Buzz")

  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#Password Generator program

In [ ]:
import random
Letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P',
           'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z','a', 'b', 'c', 'd', 'e', 'f',
           'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q'
            'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z' ]

number = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

symbols = ['!', '@', '#', '%', '&', '*', '+']
print ("Welcome to password generator")
L = int(input("How many letters you want"))
S = int(input("How many symbols you want") )
N = int(input("How many Numbers you want"))
password = ""
for i in range(1, L+1):
  char = random.choice(Letters)
  password = password + char

#print(password)
for i in range(1, S+1):
  char = random.choice(symbols)
  password = password + char

for i in range (1, N+1):
  char = random.choice(number)
  password = password + char

print(password)

Welcome to password generator
How many letters you want9
How many symbols you want5
How many Numbers you want5
RnfwmtsiL%@@++47064

**While Loop**

In [ ]:
count = 1
while count <=5:
  print(count)
  count = count+1
print("Out from loop")

1
2
3
4
5
Out from loop

In [ ]:
count = 5
while count >0:
  print(count)
  count = count-1
print("Out from loop")

5
4
3
2
1
Out from loop

In [ ]:
count = 5
while count >0:  print(count);  count = count-1
print("Out from loop")

5
4
3
2
1
Out from loop

**while Else**

In [ ]:
count = 5
while count >0:
  print(count)
  count = count-1
  if count == 3:
    break
else:
  print("else block")
print("Out from loop")

5
4
Out from loop

In [ ]:
count = 5
while count >0:
  print(count)
  count = count-1
  if count ==3:
    break
else:
  print("else block executed")
print("Out from loop")

5
4
Out from loop

**Difference between for loop and else loop**

In [ ]:
number  = int(input("enter the number (-1 to quit)"))
while number != -1:
  print(number)
  number  = int(input("enetr the number (-1 to quit)"))
else:
  print("else block executed")
print("out from the loop")

enter the number (-1 to quit)4
4
enetr the number (-1 to quit)5
5
enetr the number (-1 to quit)7
7
enetr the number (-1 to quit)-1
else block executed
out from the loop

In [ ]:
count = 0
while True:
  print(count)
  count +=1
  if count ==5:
    break
else:
  print("in else block")
print("out from loop")

0
1
2
3
4
out from loop

In [ ]:
# Write a Program to

In [ ]:
total = 0
number =  int(input("enter the number (0 to quit)"))
while number !=0:
  total = total + number
  number =  int(input("enter the number (0 to quit)"))
print(total)

enter the number (0 to quit)32
enter the number (0 to quit)45
enter the number (0 to quit)43
enter the number (0 to quit)0
120

**Break**

In [ ]:
#In order to change the flow of execution of the loop


"""
1..Break....There are some situations when you want to exit from the loop compeletely at that time we can use break:
2..Continue...There are some situtations when you want to skip some part of loop and start next iteration
3..Pass..When we want the statement to be used syantactically but no command and code has to be executed.
It is used as we cannot have an empty body of the loop


"""

pass:  H
pass:  e
pass:  l
pass:  l
pass:  o
Done

In [ ]:
#Break:  This control statement is used only in for and while loop:
count = 0
while count < 10:
  print(count)
  count +=1
  if count ==7:
    break
  print(" In while  loop ")

print("Done")

0
 In while  loop
1
 In while  loop
2
 In while  loop
3
 In while  loop
4
 In while  loop
5
 In while  loop
6
Done

In [ ]:
List = ["Hi", "Hello", "Welcome"]
name = ["Aditya", "Kushal", "Tigmanshu"]
for item in List:
  for i in name:
    print(item,i)
    if item == "Hello" and i == "Kushal":
      break
  print("out from inner loop")
print("out from outer loop")

Hi Aditya
Hi Kushal
Hi Tigmanshu
out from inner loop
Hello Aditya
Hello Kushal
out from inner loop
Welcome Aditya
Welcome Kushal
Welcome Tigmanshu
out from inner loop
out from outer loop

In [ ]:
count1 = 0
while count1 < 10:
  print(count1)
  count1 +=1
  if count1 == 7:
    continue
  print(" Hi ")

print("Done")

0
 Hi
1
 Hi
2
 Hi
3
 Hi
4
 Hi
5
 Hi
6
7
 Hi
8
 Hi
9
 Hi
Done

In [ ]:
count1 = 0
while count1 < 10:
  print(count1)
  count1 +=1
  if count1 == 7:
    pass
  print(" Hi ")

print("Done")

0
 Hi
1
 Hi
2
 Hi
3
 Hi
4
 Hi
5
 Hi
6
 Hi
7
 Hi
8
 Hi
9
 Hi
Done

In [ ]:
#Pass: Null operation
"""
In future there may be need of some statements for in the empty loop

...We can say it is a place holder for future

""""

In [ ]:
for i in range(5):
  pass

In [ ]:
for letter in "Hello":
  #pass
  print("pass: ", letter)
print("Done")

pass:  H
pass:  e
pass:  l
pass:  l
pass:  o
Done

In [ ]:
for i in range(1, 11):
  if i == 7:
    pass
  else:
    print(i)

1
2
3
4
5
6
8
9
10

In [ ]:
import random
List = ["Apple" , "Banana", "Orange" , "Mango"]
chosen_word = random.choice(List)
lives = 6
print(chosen_word)
display = []
#for i in range(len(chosen_word)):
for letter in chosen_word:
  display += '_'
print(display)










game_over = False
while not game_over:
  guessed_letter = input("enter the word to be guessed").lower()
  for position in range (len(chosen_word)):

    letter = chosen_word[position]
    if letter  == guessed_letter:
      display[position] = guessed_letter
  print(display)

  if guessed_letter  not in chosen_word:

    lives -= 1
    if lives == 0:
      game_over = True
      print("You Loose!")
  if "_" not in display:
    game_over = True
    print("You win")

Orange
['_', '_', '_', '_', '_', '_']
enter the word to be guessedo
['_', '_', '_', '_', '_', '_']
enter the word to be guessedr
['_', 'r', '_', '_', '_', '_']
enter the word to be guesseda
['_', 'r', 'a', '_', '_', '_']
enter the word to be guessedn
['_', 'r', 'a', 'n', '_', '_']
enter the word to be guessedg
['_', 'r', 'a', 'n', 'g', '_']
enter the word to be guessede
['_', 'r', 'a', 'n', 'g', 'e']
enter the word to be guessed0
['_', 'r', 'a', 'n', 'g', 'e']
enter the word to be guessedo
['_', 'r', 'a', 'n', 'g', 'e']
enter the word to be guessedO
['_', 'r', 'a', 'n', 'g', 'e']
enter the word to be guessedY
['_', 'r', 'a', 'n', 'g', 'e']
enter the word to be guessedU
['_', 'r', 'a', 'n', 'g', 'e']
You Loose!