<a href="https://colab.research.google.com/github/Tousyf/DemoJUnit/blob/master/Program_Multiple_If.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
height = int(input("Enter the height="))
bill=0
if height >= 3:
  print("You are eligible to ride")
  age = int(input("Enter the age"))
  if age<12:
    bill=150
    print("you have to pay 150rs ")
  elif age<=18:
    bill = 250
    print("you have to pay 250rs")
  else:
    bill = 500
    print("you have to pay 500 rs")
  photu = input("Do you want to take photu  Y or N")
  if photu == "Y" or photu == "y":
    bill = bill + 50
    print(f"your bill is {bill}")

else:
  print("You are not eligible")

Enter the height=3
You are eligible to ride
Enter the age19
you have to pay 500 rs
Do you want to take photu  Y or Ny
your bill is 550

In [ ]:
#Pizza Order Program
size = input("what pizza size you want (S/M/L)? ")
bill=0
if size == "S" or size == "s":
  bill +=100
  print("Your bill is 100rs")
elif size == "M" or size == "m":
  bill +=200
  print("Your bill is 200rs")
else:
  bill +=300
  print("Your bill is 300rs")
pepper = input("Do you want to add pepper (Y/N)?")
if pepper == "Y" or pepper == "y":
  if size == "S" or size == "s":
    bill +=30
  else:
    bill +=50
extra_cheese = input("Do you want extra cheese (y/n)")
if extra_cheese == "Y" or extra_cheese =="y":
  bill +=20
print (f"your final bill is {bill}")

what pizza size you want (S/M/L)? l
Your bill is 300rs
Do you want to add pepper (Y/N)?y
Do you want extra cheese (y/n)n
your final bill is 350

**LISTs in Python**

In [ ]:
"""
Dynamically sized datatype which can store different data in order
"""

In [ ]:
#Lists are mutable
#after intialization list, the values can be changed

In [ ]:
list = [1,-1, 0, 82, 2,3,4,5,6]
list[1:5:3]

[-1, 2]

In [ ]:
list.sort()
print (list)

[-1, 0, 1, 2, 3, 4, 5, 6, 82]

In [ ]:
list.reverse()
print(list)

[82, 6, 5, 4, 3, 2, 1, 0, -1]

In [ ]:
print(max(list))

82

In [ ]:
#list1 = [1, "upes", True]
#list1.sort()
#print(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
list.extend([23,34,56,65])
print(list)

[82, 23, 334, 556, 778, 1, 0, -1, 34, 56, 65, 23, 34, 56, 65]

In [ ]:
list.insert(2,24)
print(list)

[82, 23, 24, 334, 556, 778, 1, 0, -1, 34, 56, 65, 23, 34, 56, 65]

In [ ]:
list.append(97)
list

[82, 23, 24, 334, 556, 778, 1, 0, -1, 34, 56, 65, 23, 34, 56, 65, 97]

In [ ]:
list[1]=333
list

[82, 333, 24, 5, 4, 3, 2, 1, 0, -1, 23, 34, 56, 65, 97]

In [ ]:
list[1:5]=[23,334,556,778]
list

[82, 23, 334, 556, 778, 1, 0, -1, 34, 56, 65]

In [ ]:
#in order to remove you have two methods "remove " and "pop"

In [ ]:
list.remove(23)
list

[82, 24, 334, 556, 778, 1, 0, -1, 34, 56, 65, 34, 56, 65, 97]

In [ ]:
print(list.pop())
list

97

[82, 24, 334, 556, 778, 1, 0, -1, 34, 56, 65, 34, 56, 65]

In [ ]:
#in order to remove specific elemenet provide index
print(list.pop(3))

778

In [ ]:
#  https://docs.python.org/3/tutorial/index.html

**Random Module** Randomization to keep predicting the value

In [ ]:
#Mersenne Twister

In [ ]:
import random
a=random.randint(1,9)
#b=random.randrange(1,9)#we will get numbers from 1 to 8, 8 will not be included
print (a)

9

In [ ]:
# for floating point number
c=random.random() #returns floating point number from 0 to 1.0 excluding 1.0
#d=random.uniform(1,3)
#print(d)
print(c)

0.4335225512524121

In [ ]:
list2 = [96, 98, 234, 1234, 4323, "Touseef"]
a= random.choice(list2)
print(a)

Touseef

In [ ]:
random.shuffle(list2)
print(list2)

[96, 'Touseef', 4323, 234, 1234, 98]

In [ ]:
#Virtual toss Coin program
import random
side=random.randint(0,1)
if side == 1:
  print("Heads")
else:
  print("Tails")

Tails

In [ ]:
text = "Welcome,to,Python,Lecture"
text_s =text.split(",")
print(text_s)

['Welcome', 'to', 'Python', 'Lecture']

In [ ]:
#pay the bill

In [ ]:
import random
names=input("Please enter everyones name seperated by comma")
names_list = names.split(",")
length = len(names_list)
#print(names_list)
choice=random.randint(0, length-1)
print(f"{names_list[choice]}  will pay the bill")

Please enter everyones name seperated by commakehav,krishna,aryan,gaurav
gaurav  will pay the bill

**Index out of Range**

In [ ]:
#calculate length of list

**Nested List**

In [ ]:
Numbers = [1, 2, 3, 4, [23, 34, 45], -23, -45, 457]
print(len(Numbers))

8

In [ ]:
Numbers[4][2]

45

In [ ]:
"""
I have 3*3 matrix

In [ ]:
#Creating a 3*3 matrix and hide your at any position user wants


Row1= ['😃', '😃', '😃']
Row2= ['😃', '😃', '😃']
Row3= ['😃', '😃', '😃']
print(f"{Row1}\n{Row2}\n{Row3}")
matrix=[Row1, Row2, Row3]


position = input("Enter the position where you want to hide your money:")
row_number = int(position[0])
column_number = int(position[1])
row_selected = matrix[row_number-1]
row_selected[column_number-1]='X'
print(f"{Row1}\n{Row2}\n{Row3}")

['😃', '😃', '😃']
['😃', '😃', '😃']
['😃', '😃', '😃']
Enter the position where you want to hide your money:13
['😃', '😃', 'X']
['😃', '😃', '😃']
['😃', '😃', '😃']